{% extends "quotes/base.html" %}

{% block content %}

<div class="container">
    <form method="post" class="form">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="form-row">
            <div class="form-label">
                <label class="form-label"> Author: </label>
                <div class="form-group">{{ form.author }}</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">
                <label class="form-label"> Quote: </label>
                <div class="form-group">{{ form.quote }}</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">
                <label class="form-label"> Tags: </label>
                 <p>{% for tag in form.tags %}
                     {{ tag }}
                {% endfor %}</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
