{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
                <a href="{% url 'quotes:description' author_id=quote.author_id %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tags' tag_name=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="first">
                    <a class="{% if quotes.num_pages == 0 %} disabled {% endif %}"
                            href="{% url 'quotes:root_paginate' 1 %}">
                        <span aria-hidden="true">↑</span> First
                    </a>
                </li>
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                            href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>

                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}"
                            href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next <span aria-hidden="true">→</span>
                    </a>
                </li>
                <li class="last">
                    <a class="{% if quotes.num_pages == 0 %} disabled {% endif %}"
                            href="{% url 'quotes:root_paginate' quotes.paginator.num_pages %}">
                        <span aria-hidden="true">↓</span> Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-4 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag in tags %}
            <span class="tag-item">
                <a class="tag" style="font-size: 28px" href="{% url 'quotes:tags' tag_name=tag %}">{{ tag }}</a>
            </span><br>
        {% endfor %}
    <div class="col-md-4">
        {% if user.is_authenticated %}
            <div><a href="{% url 'users:signout' %}" class="btn btn-primary">Signout</a></div><br>
            <div><a href="{% url 'quotes:add_author' %}"class="btn btn-primary">Add author</a></div><br>
            <div><a href="{% url 'quotes:add_quote' %}"class="btn btn-primary">Add quote</a></div><br>
            <div><a href="{% url 'quotes:add_tag' %}"class="btn btn-primary">Add tag</a></div><br>
        {% else %}
            <div><a href="{% url 'users:signup' %}" class="btn btn-primary">Signup</a></div><br>
            <div><a href="{% url 'users:signin' %}" class="btn btn-primary">Signin</a></div><br>
        {% endif %}
    </div>
{% endblock %}
