{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
                <a href="{% url 'quotes:description' quote_id=quote.id %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tags' tag_name=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                            href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>

                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}"
                            href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next <span aria-hidden="true">→</span></a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="col-md-4">
        <p>
            {% if user.is_authenticated %}
            <a href="{% url 'users:signout' %}" class="btn btn-primary">Signout</a>
            {% else %}
            <a href="{% url 'users:signup' %}" class="btn btn-primary">Signup</a>
            <a href="{% url 'users:signin' %}" class="btn btn-primary">Signin</a>
            {% endif %}
        </p>
    </div>

</div>

{% endblock %}
            <!-- <a href="{% url 'quotes:add_author' %}"class="btn btn-primary">Add author</a>
            <a href="{% url 'quotes:add_quote' %}"class="btn btn-primary">Add quote</a>
            <a href="{% url 'quotes:add_tag' %}"class="btn btn-primary">Add tag</a> -->
