{% extends "quotes/base.html" %}

{% block content %}

<div>
    <h1>Sign In</h1>
</div>

<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p> {{ error }} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Username</label>
            {{form.username}}
        </div>
        <span>{{form.errors.username}}</span>
    </div>

    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Password</label>
            {{form.password}}
        </div>
        <span>{{form.errors.password}}</span>
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>

    <div class="small text-center">
        <a href="{% url 'users:password_reset' %}" class="text-center"><i>Forgot Password?</i></a>
    </div>
</form>

{% endblock %}

{{form.non_field_errors}}
{{form.errors}}
{{error_message}}

{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <p> {{ error }} </p>
    {% endfor %}
{% endfor %}
{% endif %}
